.mainNav {
  margin-bottom: 15px;
}

.navLink {
  position: relative;
  display: inline-block;
  font-size: 26px;
  color: black;
  margin: 10px 10px;
}

.navLinkActive {
  font-weight: 400;
  color: rgb(133, 5, 48);
}
.navLinkActive:hover::after,
.navLinkActive:focus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(133, 5, 48);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  bottom: -7px;
}

.navLink:hover,
.navLink:focus {
  font-weight: 400;
  color: rgb(133, 5, 48);
}
.navLink:hover::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgb(133, 5, 48);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  bottom: -7px;
}
